* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

@font-face {
    font-family: 'basictext';
    src: url('../res/fonts/Champagne\ &\ Limousines.ttf');
}

html {
    scroll-behavior: smooth;
}

.button {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: 500;
    transition: .3s;
    width: fit-content;
    margin-top: 10px;
}

.button:hover {
    background-color: var(--color-accent);
}

p,
h1,
h2,
h3,
h4 {
    color: var(--font-color);
    font-family: 'basictext';
}

p {
    font-size: 1.4em;
}

a:-webkit-any-link {
    color: var(--font-color);
    width: fit-content;
    transition: 1s;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}


i {
    color: var(--font-color);
}

i:hover {
    color: var(--color-accent);
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
    font-size: 1.8em;
}

.theme-dark {
    --background-color: #080007;
    --background-second: #3a003c;

    --font-color: #f2ffb9;
    --font-color2: #000;

    --shade: #0000009c;

    --primary-color: #8b0085;
    --secondary-color: #22009d;
    --color-accent: #fb00ff;

    --scroll-background: #008214;
    --scroll-bar: #a2ff00;
}

.theme-light {
    --background-color: #ffafaf;
    --background-second: #fff333;

    --font-color: #000;
    --font-color2: #fff;

    --shade: #fde7ffa9;

    --primary-color: #b96eff;
    --secondary-color: #ff9900;
    --color-accent: #ff61d0;

    --scroll-background: #ffa930;
    --scroll-bar: #463000;
}

body {
    background: linear-gradient(90deg, var(--background-color) 50%, var(--background-second) 90%);
    overflow: hidden;
}

img {
    color: var(--font-color);
    text-align: center;
}

/*SCROLLEABLE*/

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.wrapper{
    height: 100%;
    width: 100%;
    transition: all 1.4s ease;
}

section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectiontitle{
    margin-bottom: 5vh;
}

.background{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

/*HEADER*/
header {
    background: linear-gradient(45deg, var(--background-color) 20%, var(--background-second) 90%);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header>nav {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

header>nav>.navtoggle {
    position: absolute;
    left: 0px;
    top: -150px;
    font-size: 1.25rem;
    cursor: pointer;
}

header>nav>.navtoggle>.bx-grid-alt {
    font-size: 2.5em;
}

header>nav>.navM>.navclose>.bx-x {
    font-size: 1.56em;
}

header>nav>.navM>.navclose {
    position: absolute;
    right: 0;
    top: -150px;
    font-size: 1.8rem;
    cursor: pointer;
}

header>nav>.navM {
    width: 80%;
    display: flex;
    align-items: center;
    z-index: 100;
}

header>nav>.navM>ul {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: 500;
    font-size: 1.3em;
}

header>nav>.navM>ul>li {
    height: 100%;
}

header>nav>.navM>ul>li:hover {
    background-color: var(--shade);
}

header>nav>.iconsmargin {
    position: absolute;
    right: 5px;
    display: flex;
}

.bx-sun {
    font-size: 2em;
}

header>nav>.iconsmargin>.ducklogo {
    width: 2em;
    margin-left: 3ex;
}


@media (max-width: 767px) {
    .navM {
        position: fixed;
        top: -150%;
        width: 100vw;
        left: 0;
        padding: 3.5rem 0;
        transition: 0.4s;
        border-radius: 0 0 1.5rem 1.5rem;
        background-color: var(--secondary-color);
    }

    header>nav>.navtoggle {
        top: 0;
    }

    header>nav>.navM>.navclose {
        top: 0;
    }

    header>nav>.navM>ul {
        display: flex;
        flex-direction: column;
    }
}

/* Show menu */
.show-menu {
    top: 0;
}

/*HOME*/

.home {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home>.homeimgdiv>img {
    width: 80%;
}

.home>.hometxtdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home>.hometxtdiv>.homedata>.mainname {
    font-size: 2.2em;
    text-align: center;
}

/*ABOUT ME*/
.aboutme {
    display: flex;
    justify-content: center;
}

.aboutme>.aboutdata {
    width: 60%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*WEB PROJECTS*/

.webprojects>.webprojectsheader {
    font-size: 2em;
}

.webprojects>.articlescontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    overflow: auto;
}

.webprojects>.articlescontainer>article {
    position: relative;
}

.article1 {
    grid-area: 1 / 2 / 2 / 3;
}

.article2 {
    grid-area: 1 / 1 / 2 / 2;
}

.article3 {
    grid-area: 2 / 1 / 3 / 2;
}

.article4 {
    grid-area: 2 / 2 / 3 / 3;
}

.webprojects>.articlescontainer>article>.invisiblediv {
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: 1s;
    background-color: var(--shade);
    width: 100%;
    height: 99%;
    top: 0;
    font-size: 1.2em;
    color: var(--font-color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.webprojects>.articlescontainer>article>.invisiblediv>a:-webkit-any-link:hover {
    background-color: var(--background-color);
}

.webprojects>.articlescontainer>article:hover .invisiblediv {
    opacity: 1;
}

.webprojects>.articlescontainer>article>.visiblediv>img {
    width: 400px;
    height: 300px;
}

/*OTHER PROJECTS*/

/*SKILLS*/
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills>.gridskills {
    background-color: var(--primary-color);
    border-radius: 5px;
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: 1fr 1fr;
    padding: 10px;
}

.skills>.gridskills>.skillsitem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills>.gridskills>.skillsitem>img{
    width: 100px;
}


/*CONTACT*/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact>.socialmedialinks {
    border-radius: 25px;
    background-color: var(--primary-color);
    display: flex;
    margin: 7vh;
    gap: 6vh;
}

.contact>.socialmedialinks>a>.socialmediaitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em;
    transition: 0.7s;
}

.contact>.socialmedialinks>a>.socialmediaitem:hover{
    transform: scale(1.1);
}

.contact>.socialmedialinks>a>.socialmediaitem>img {
    width: 45px;
    height: 45px;
}

.contact>.maildiv>form {
    display: flex;
    flex-direction: column;
}

.contact>.maildiv>form>textarea {}

/*FOOTER*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer>img {
    width: 50px;
}