* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

@font-face {
    font-family: 'basictext';
    src: url('../res/fonts/Champagne\ &\ Limousines.ttf');
}

html {
    scroll-behavior: smooth;
}

.button {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: 500;
    transition: .3s;
}

.button:hover {
    background-color: var(--color-accent);
}

p,
h1,
h2,
h3,
h4 {
    color: var(--font-color);
    font-family: 'basictext';
}

a:-webkit-any-link {
    color: var(--font-color);
}

i {
    color: var(--font-color);
}

i:hover{
    color: var(--color-accent);
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

.theme-dark {
    --background-color: #080007;
    --background-second: #3c3800;

    --font-color: #f2ffb9;

    --shade-dark: #0000004b;
    --shade-light: #ffffff3e;

    --primary-color: #d100c7;
    --secondary-color: #22009d;
    --color-accent: #fb00ff;

    --scroll-background: #008214;
    --scroll-bar: #a2ff00;
}

.theme-light {
    --background-color: #ffafaf;
    --background-second: #fff333;

    --font-color: #000;

    --shade-dark: #0000004b;
    --shade-light: #ffffff3e;

    --primary-color: #b96eff;
    --secondary-color: #ff9900;
    --color-accent: #ff38c3;

    --scroll-background: #ffa930;
    --scroll-bar: #463000;
}

body {
    background-color: var(--background-color);
}

img {
    color: var(--font-color);
    text-align: center;
}

/*NAVBAR*/

/*HOME*/

/*ABOUT ME*/

/*WEB PROJECTS*/

/*OTHER PROJECTS*/

/*SKILLS*/

/*CONTACT*/

/*FOOTER*/