* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.button {
    display: inline-block;
    background-color: var(--color-primary);
    color: var(--font-color);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: 500;
    transition: .3s;
}

.button:hover {
    background-color: var(--color-accent);
}


.buttonicon {
    font-size: 1.25rem;
}

p,h1,h2,h3,h4{
    color: var(--font-color);
}

h1,
h2,
h3,
h4 {
  color: var(--font-color);
  font-weight: 600;
}

a:-webkit-any-link {
    color: var(--font-color);
}

i{
    color: var(--font-color);
}

.theme-dark {
    --background-color: #002409;
    --background-second: #3c3800;

    --font-color: #ffffff;

    --shade-dark: #0000004b;
    --shade-light: #ffffff3e;

    --primary-color: #00cee1;
    --secondary-color: #22009d;
    --color-accent: #fb00ff;

    --scroll-background: #008214;
    --scroll-bar: #a2ff00;
}

.theme-light {
    --background-color: #ff8f8f;
    --background-second: #fff333;

    --font-color: #000;

    --shade-dark: #0000004b;
    --shade-light: #ffffff3e;

    --primary-color: #c40000;
    --secondary-color: #ff9900;
    --color-accent: #ff00b3;

    --scroll-background: #ffa930;
    --scroll-bar: #463000;
}

body{
    background-color: var(--background-color);
}

img { color: var(--font-color); text-align: center; }